body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  rgb(59, 59, 212);
    background-color: #222;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1561484930-998b6a7b22e8?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.container {
    text-align: center;
    background-color: #8facf0;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 90%;
}

h1 {
    color: rgb(59, 59, 212);
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color:  rgb(59, 59, 212);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:  rgb(59, 59, 212);
}

#weatherResult {
    margin-top: 40px;
}